/* Styling for Paywall Invoice Creator */

/* Set the background color and font family */
html, body {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1482686115713-0fbcaced6e28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1767&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Center the content */
h1, #paywall-form, #response {
  max-width: 600px;
  margin: 0 auto;
}

/* Style the header */
h1 {
  text-align: left;
  color: #0c2461;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  margin-left: 3%;
}

/* Style the form */
#logo {
  float: left;
  width: auto;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 15px;
}

nav {
  float: right;
}



/* Set the position and style of the input elements */
input[type="text"],
input[type="number"] {
  width: 90%;
  padding: 0.5rem;
  margin: auto;
  display: block;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
}

/* Position the checkbox in front of the label */
label[for="remembers"] {
  font-weight: bold;
  margin-right: 10px;

}

/* Position and style the checkbox */
#remembers {
  display:none;
}


button[type="submit"] {
  margin: 5px auto;
  display: block;
  padding: 5px 5px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(to bottom right, #9734ff, #3c00f5);
  box-shadow: 0 10px 25px -10px blue;
}

/* Style the response div */
#response {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #0c2461;
}
